# Normalize source code before commits
*.lua eol=lf 
*.txt eol=lf 
*.ot* eol=lf 
*.cpp eol=lf 
*.h   eol=lf

# Git LFS para arquivos binários grandes
bin/**/*.exe filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text 
